/**********GLOBAL***************/
:root{
    --red:255;
    --green:0;
    --blue:0;
  }
h1{
    color: rgb(var(--red), var(--green), var(--blue));
}

/**********CLASSES**************/
.overlay{
    color: grey;
    padding: none;
    border: none;
    opacity: 100%;
    top: 0;
    left: 0;
}

/**********ID*******************/
#user-popup{

}

#user-login{
    
}
#guest-login{

}
#form{
    position: fixed;
    bottom: 0;
} 
