/**********GLOBAL***************/
:root{
    --red:255;
    --green:0;
    --blue:0;
  }
h1{
    color: rgb(var(--red), var(--green), var(--blue));
}

/**********CLASSES**************/


/**********ID*******************/