/**********GLOBAL***************/
:root{
    --red:255;
    --green:0;
    --blue:0;
  }
h1{
    color: rgb(var(--red), var(--green), var(--blue));
}

/**********CLASSES**************/
.overlay{
    color: grey;
    padding: none;
    border: none;
    opacity: 100%;
    top: 0;
    left: 0;
}
.message{
    width: 100%;
    height: 30%;
    display: block;
    background-color: rgb(220, 220, 220);
    padding: none;
    border: none;
}
/**********ID*******************/
#user-popup{
    position: absolute;
    width: 300px;
    margin-left: -150px;
    margin-top: -100px;
    padding-bottom: 2%;
    text-align: center;
    top: 45%;
    left: 50%;
    border-color: black;
    border: solid;
}

#user-login{
    padding-top: 1%;
}   
#guest-login{
    padding-top: 1%;
}
#form{
    position: fixed;
    bottom: 0;
} 
